<div>
    <div class="word-group">
        <span>{{data.s1.ending}}</span>
        <span ng-if="data.s1.connector">{{data.s1.connector}}</span>
    </div>
    <div class="word-group">
        <span>{{data.s2.ending}}</span>
        <span ng-if="data.s2.connector">{{data.s2.connector}}</span>
    </div>
    <div class="word-group">
        <span>{{data.s3.ending}}</span>
        <span ng-if="data.s3.connector">{{data.s3.connector}}</span>
    </div>
    <div class="word-group">
        <span>{{data.p1.ending}}</span>
        <span ng-if="data.p1.connector">{{data.p1.connector}}</span>
    </div>
    <div class="word-group">
        <span>{{data.p2.ending}}</span>
        <span ng-if="data.p2.connector">{{data.p2.connector}}</span>
    </div>
    <div class="word-group">
        <span>{{data.p3.ending}}</span>
        <span ng-if="data.p3.connector">{{data.p3.connector}}</span>
    </div>
</div>